<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Document</title>
	</head>
	<body class="w-full h-screen">
		<main class="w-full h-screen flex flex-row weather-main">
			<section class="weather-info w-2/5 px-8">
				<header class="search-wrapper w-full p-4 mb-4 relative">
					<input type="text" class="search rounded-xl w-full px-4 py-2" placeholder="Manila" /><i
						class="fa-solid fa-magnifying-glass absolute top-7 right-6 search-icon"
					></i>
				</header>
				<section class="aside-info">
					<h1 class="weather-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
							<path
								fill="currentColor"
								d="M6.5 20q-2.275 0-3.887-1.575T1 14.575q0-1.95 1.175-3.475T5.25 9.15q.625-2.3 2.5-3.725T12 4q2.925 0 4.963 2.038T19 11q1.725.2 2.863 1.488T23 15.5q0 1.875-1.312 3.188T18.5 20zm0-2h12q1.05 0 1.775-.725T21 15.5q0-1.05-.725-1.775T18.5 13H17v-2q0-2.075-1.463-3.538T12 6Q9.925 6 8.463 7.463T7 11h-.5q-1.45 0-2.475 1.025T3 14.5q0 1.45 1.025 2.475T6.5 18m5.5-6"
							/>
						</svg>
					</h1>
					<h2 class="temperature">25&deg;c</h2>
					<h3 class="weather-condition">Cloudy</h3>
					<div class="line-bar"></div>

					<section class="date-wrapper">
						<h3 class="date">21 February 2024,</h3>
						<h2 class="day-time">Wednesday, 5:40 AM</h2>
					</section>
					<footer class="location">
						<h1>Manila, Philippines</h1>
					</footer>
				</section>
			</section>
			<section class="weather-info w-3/4 bg-slate-400"></section>
		</main>
	</body>
</html>
