<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Document</title>
	</head>
	<body class="w-full h-screen">
		<main class="w-full h-screen flex flex-row weather-main">
			<section class="weather-info w-2/5 px-8">
				<header class="search-wrapper w-full p-4 mb-4 relative">
					<input
						type="text"
						class="search rounded-xl w-full px-4 py-2"
						[(ngModel)]="search"
						placeholder="Input"
						value="{{ search }}"
						(keydown.enter)="sendSearchToService()"
					/><i class="fa-solid fa-magnifying-glass absolute top-7 right-6 search-icon"></i>
				</header>
				<section class="aside-info">
					<h1 class="weather-icon">
						<img src="../assets/clouds.gif" alt="" />
					</h1>
					<h2 class="temperature font-normal text-center">{{ mainTemp | number : "1.1-1" }}&deg;c</h2>
					<h3 class="weather-condition text-xl text-center">Cloudy</h3>
					<div class="line-bar w-3/4 mx-auto bg-slate-200 h-1 mt-4 mb-6"></div>

					<section class="date-wrapper mb-8">
						<h3 class="date">{{ getDate | date : "fullDate" }}</h3>
						<h2 class="day-time">{{ getDate | date : "mediumTime" }}</h2>
					</section>
					<footer class="location text-center">
						<h1>{{ place }} , Philippines</h1>
					</footer>
				</section>
			</section>
			<section class="weather-main-info w-3/4">
				<h2 class="today">Today</h2>
				<section class="info-wrapper grid text-white">
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Coordinates</h3>
						<app-coordinates-info [data]="data"></app-coordinates-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Humidity</h3>
						<app-weather-info [weatherInfo]="data"></app-weather-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Real Feel</h3>
						<app-temperature-info [temperatureInfo]="data"></app-temperature-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Min & Max</h3>
						<app-min-max-temp-info [minMax]="data"></app-min-max-temp-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Pressure</h3>
						<app-pressure-info [pressure]="data"></app-pressure-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Humidity</h3>
						<app-humidity-info [humidity]="data"></app-humidity-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Wind</h3>
						<app-wind-info [winds]="data"></app-wind-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Sunrise</h3>
						<app-sunrise-info [sunrise]="data"></app-sunrise-info>
					</div>
					<div class="p-4 rounded-xl w-3/4 infos">
						<h3>Sunset</h3>
						<app-sunset-info [sunset]="data"></app-sunset-info>
					</div>
				</section>
			</section>
		</main>
	</body>
</html>
