@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

$primaryColor: #748cf1;
$font: "Quicksand", sans-serif;
$bg-color: #adb5bd;

.weather-info {
	.search-wrapper {
		input[type="text"] {
			background-color: #e9ecef;
			font-family: $font;
		}

		input[type="text"]:focus {
			outline: none;
			border: solid 2px $primaryColor;
			transition: all ease-in-out 0.1s;
		}
		.search-icon {
			font-size: clamp(0.7rem, 1.5vw, 4rem);
			color: $primaryColor;
		}
	}

	.aside-info {
		.weather-icon {
			font-size: clamp(1vw, 12vw, 15rem);
			color: $bg-color;
			width: 40%;
			margin: 0 auto;
		}

		.temperature {
			font-size: clamp(1rem, 4vw, 6rem);
		}

		.weather-condition {
		}

		.date-wrapper {
			.date {
				font-size: clamp(0.5rem, 1.5vw, 3rem);
				text-align: center;
			}

			.day-time {
				font-size: clamp(1rem, 2.2vw, 4rem);
				text-align: center;
			}
		}

		footer {
			h1 {
				font-size: clamp(1.2rem, 3vw, 7rem);
			}
		}
	}
}
.weather-main-info {
	background-color: #efefef;

	.info-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-row-gap: 3rem;
		grid-column-gap: 2rem;
		place-content: center;
		margin-block: clamp(0.1rem, 3vw, 5rem);

		.infos {
			width: 15rem;
			background-color: $primaryColor;
			margin: 0 auto;

			h3 {
				font-size: clamp(1.5rem, 1.8vw, 3rem);
			}
		}
	}
}
