@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

$primaryColor: #000046;
$secondary: #1cb5e0;
$font: "Quicksand", sans-serif;
$bg-color: #adb5bd;
$bg-primary: #6dd5fa;
$bg-secondary: #2980b9;

.weather-info {
	position: relative;
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#ffffff,
		#6dd5fa,
		#2980b9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#ffffff,
		#6dd5fa,
		#2980b9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	.search-wrapper {
		input[type="text"] {
			background-color: transparent;
			font-family: $font;
			border: solid 2px white;
			color: white;
			position: relative;
			z-index: 9;
		}

		input[type="text"]:focus {
			outline: none;
		}

		input::placeholder {
			color: white;
		}
		.search-icon {
			font-size: clamp(1rem, 1.5vw, 4rem);
			color: white;
		}
	}

	.aside-info {
		.icons::before {
			position: absolute;
			top: 5rem;
			left: 0;
			width: 100%;
			color: white;
		}

		.icons:nth-child(1)::before {
			font-size: 5rem;
			animation: icon1 5s linear infinite;
			z-index: 9;
			position: absolute;
			top: 5rem;
			left: 0;
			width: 100%;
			color: white;
		}

		.icons:nth-child(2)::before {
			font-size: 5rem;
			animation: icon2 5s 2s linear infinite;
			z-index: 9;
			position: absolute;
			top: 5rem;
			left: -8rem;
			width: 100%;
			color: white;
		}

		.img {
			margin-top: clamp(1rem, 15vh, 20%);
		}

		@keyframes icon1 {
			0% {
				transform: translateX(-50%);
			}
			100% {
				transform: translateX(150%);
				z-index: -1;
			}
		}

		@keyframes icon2 {
			0% {
				transform: translateX(-50%);
			}
			100% {
				transform: translateX(150%);
				z-index: -1;
			}
		}
		.date-wrapper {
			.date {
				font-size: clamp(1rem, 1.5vw, 3rem);
				text-align: center;
			}

			.day-time {
				font-size: clamp(1rem, 2.2vw, 4rem);
				text-align: center;
			}
		}

		footer {
			h1 {
				font-size: clamp(1.2rem, 3vw, 7rem);
			}
		}
	}
}
.weather-main-info {
	background-color: #efefef;
	position: relative;
	z-index: 9;

	.today {
		font-size: clamp(1rem, 2vw, 4rem);
		font-weight: 600;
		margin: clamp(1rem, 5%, 2rem);
		color: $primaryColor;
	}

	.info-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-row-gap: 3rem;
		grid-column-gap: 2rem;
		place-content: center;
		margin-block: clamp(0.1rem, 3vw, 5rem);

		.infos {
			width: 15rem;
			background-color: $primaryColor;
			background: -webkit-linear-gradient(to bottom, $primaryColor, $secondary);
			background: linear-gradient(to bottom, $primaryColor, $secondary);
			margin: 0 auto;
			cursor: pointer;
			transition: all 1s ease-in-out;

			h3 {
				font-size: clamp(1.5rem, 1.8vw, 3rem);
			}
		}

		.infos:hover {
			transform: scale(1.1);
			background-color: #56ccf2;
			background: -webkit-linear-gradient(to bottom, #56ccf2, #2f80ed);
			background: linear-gradient(to bottom, #56ccf2, #2f80ed);
		}
	}
}

/* media queries */

/* portrait */
@media all and (width >= 375px) and (orientation: portrait) {
}

@media all and (width <= 800px) and (orientation: portrait) {
	.weather-main {
		flex-direction: column;

		.weather-info {
			width: 100%;
		}

		.weather-main-info {
			width: 100%;
			background-color: #2980b9;
			background: -webkit-linear-gradient(to bottom, #ffffff, $bg-primary, $bg-secondary);
			background: linear-gradient(to bottom, #ffffff, $bg-primary, $bg-secondary);
		}
	}
}

/* landscape */
@media all and (width <= 800px) and (orientation: landscape) {
	.weather-main {
		flex-direction: column;

		.weather-info {
			width: 100%;
		}

		.weather-main-info {
			width: 100%;
		}
	}
}
